.headingClass {
  color: crimson;
}
/* Define styles for the dark mode */
/* Define styles for the dark mode */
.darkMode {
  background-color: black;
  color: white;
}
.lightMood {
  background-color: white;
  color: black;
}

.mainBody {
  font-family: sans-serif;
  height: 100%;
}
.dashboardWithNavbar{
  display: flex;
}
.parentOfDashboard {
  height: auto;
  width: 300px;
}
.sidebar {
  position: fixed;
  height: "100%";
}
.dashboard {
  overflow: hidden;
  height: 100%;
  box-shadow: 6px 0px 6px crimson;
}

.sidebarElement {
  border-bottom: 1px solid crimson;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-duration: 120ms;
  cursor: pointer;
}

.sidebarElement:hover {
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  padding-top: 12px; 
  padding-bottom: 12px;
  transition-duration: 250ms;
}


.okButton {
  background-image: radial-gradient(circle, #e54cf6 0%, #03768d 100%);
  border: 0;
  color: white;
  width: 300px;
  transition-duration: 500ms;
  padding: 5px 15px;
}

.okButton:hover {
  background-image: radial-gradient(circle, #03768d 0%, #e54cf6 100%);
  border: 0;
  color: white;
  width: 300px;
  transition-duration: 500ms;
  padding: 5px 15px;
}

.content {
  padding-left: 3px;
  height: 100%;
}
.content::-webkit-scrollbar {
  width: 0.5em;
}

.content::-webkit-scrollbar-thumb {
  background-color: crimson;
}

/* <h1 class="headingClass">This is forcasting website.</h1> */
.navbarContent{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.theChartParent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.theChartParentWithScroll{
   overflow-x:scroll;
}
.theChartParentWithoutScroll{
   overflow-x:hidden;
}

.exchangeingButton {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.exchangeingButton.active {
  background-color: crimson;
}

.exchangeingButtonMood {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.exchangeingButtonMood.active {
  background-color: crimson;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}
#acknowledgeBtn {
  padding: 10px 20px;
  cursor: pointer;
}
.Forecaster{
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: -8px;
}
.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
  border-radius: 5px;
  appearance: none; /* Remove default arrow */
}

.custom-select::after {
  content: '\25BC'; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select:focus {
  outline: none;
}

/* Style the dropdown options */
.custom-select select option {
  padding: 10px;
  font-size: 16px;
}
